:root {
  --color-text: #999;
  --color-text-dimmed: #AED919;
  --color-text-bright: #fff;
  --color-background: black;

  --font-primary: "Roboto Condensed";
  --font-secondary: "Roboto";

  --font-size: 30px;
  --font-size-small: 1.0rem;

  --gap-body-top: 20px;
  --gap-body-right: 20px;
  --gap-body-bottom: 20px;
  --gap-body-left: 20px;

  --gap-modules: 30px;
}
